# Creating Collections with Comprehensions

In [1]:
[n*n for n in range(6)]

[0, 1, 4, 9, 16, 25]

In [2]:
squares = []
for n in range(6):
    squares.append(n**2)
squares

[0, 1, 4, 9, 16, 25]

In [5]:
{n: "x" * n for n in range(5)}

{0: '', 1: 'x', 2: 'xx', 3: 'xxx', 4: 'xxxx'}

In [6]:
blocks = dict()
for n in range(5):
    blocks[n] = "x"*n
blocks

{0: '', 1: 'x', 2: 'xx', 3: 'xxx', 4: 'xxxx'}

## List Comprehensions

In [12]:
squares = [n*n for n in range(6)]
type(squares)

list

In [13]:
print(squares)

[0, 1, 4, 9, 16, 25]

In [18]:
pets = ['dog', 'parakeet', 'cat', 'llama']
numbers = [9, -1, -4, 20, 11, -3]

def repeat(s):
    return s + s

[2*m+3 for m in range(10, 20, 2)]

[23, 27, 31, 35, 39]

In [15]:
[abs(num) for num in numbers]

[9, 1, 4, 20, 11, 3]

In [16]:
[10 - x for x in numbers]

[1, 11, 14, -10, -1, 13]

In [19]:
[pet.lower() for pet in pets]

['dog', 'parakeet', 'cat', 'llama']

In [20]:
["The " + pet for pet in sorted(pets)]

['The cat', 'The dog', 'The llama', 'The parakeet']

In [21]:
[repeat(pet) for pet in pets]

['dogdog', 'parakeetparakeet', 'catcat', 'llamallama']

In [22]:
def is_palindrome(s):
    return s == s[::-1]

words = ['bib', 'bias', 'dad', 'eye', 'deed', 'tooth']

[n*2 for n in numbers if n % 2 == 0]

[-8, 40]

In [27]:
[pet.upper() for pet in pets if len(pet) == 3]

['DOG', 'CAT']

In [28]:
[n for n in numbers if n > 0]

[9, 20, 11]

In [29]:
[word for word in words if is_palindrome(word)]

['bib', 'dad', 'eye', 'deed']

## Formatting For Readability (And More)

In [30]:
def double_short_words(words):
    return [word + word
            for word in words
            if len(word) <5]

# or
def double_short_words(words):
    return [
        word + word
        for word in words
        if len(word) <5 
    ]

## Multiple Sources and Filters

In [31]:
colors = ['orange', 'purple', 'pink']
toys = ['bike', 'basketball', 'skateboard', 'doll']

[
    color + ' ' + toy
    for color in colors
    for toy in toys
]

['orange bike',
 'orange basketball',
 'orange skateboard',
 'orange doll',
 'purple bike',
 'purple basketball',
 'purple skateboard',
 'purple doll',
 'pink bike',
 'pink basketball',
 'pink skateboard',
 'pink doll']

In [35]:
ranges = [range(1, 7), range(4, 12, 3), range(-5, 9, 4)]
[
    float(num)
    for subrange in ranges
    for num in subrange
]

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 4.0, 7.0, 10.0, -5.0, -1.0, 3.0, 7.0]

In [33]:
ranges

[range(1, 7), range(4, 12, 3), range(-5, 9, 4)]

In [37]:
numbers = [9, -1, -4, 20, 17, -3]
odd_postives = [
    num for num in numbers
    if num > 0
    if num % 2 == 1
]
odd_postives

[9, 17]

In [45]:
numbers = [9, -1, -4, 20, 11, -3]
def is_mult_of_2_or_3(num):
    return (num % 2 == 0) or (num % 3 == 0)

[
    num for num in numbers
    if is_mult_of_2_or_3(num)
]

[9, -4, 20, -3]

In [55]:
[
    num for num in numbers
    if num % 2 == 0 or num % 3 == 0
]

[9, -4, 20, -3]

In [62]:
weights = [0.2, 0.5, 0.9]
values = [27.5, 13.4]
offsets = [4.3, 7.1, 9.5]
[
    (weight, value, offset)
    for weight in weights
    for value in values
    for offset in offsets
    if offset > 5.0
    if weight * value < offset
]

[(0.2, 27.5, 7.1),
 (0.2, 27.5, 9.5),
 (0.2, 13.4, 7.1),
 (0.2, 13.4, 9.5),
 (0.5, 13.4, 7.1),
 (0.5, 13.4, 9.5)]

## Comprehensions and Generators

In [63]:
type(squares)

list

In [65]:
NUM_SQUARES = 10*1000*1000
generated_squares = (
        n*n for n in range(NUM_SQUARES)
)
type(generated_squares)

generator

In [67]:
class User:
    def __init__(self, email=None, is_active=None):
        self.email = email
        self.is_active = is_active
fred = User(email='fred@a.com', is_active=True)
sandy = User(email='sady@f.com', is_active=True)
tim = User(email='tim@d.com', is_active=True)
all_users = [fred, sandy, tim]

In [69]:
sorted((user.email 
        for user in all_users 
        if user.is_active))

['fred@a.com', 'sady@f.com', 'tim@d.com']

In [70]:
sorted(
    user.email 
    for user in all_users 
    if user.is_active
)

['fred@a.com', 'sady@f.com', 'tim@d.com']

In [73]:
sorted(
    (user.email 
    for user in all_users 
    if user.is_active),
    reverse=True
)

['tim@d.com', 'sady@f.com', 'fred@a.com']

In [75]:
active_emails = (
    user.email 
    for user in all_users 
    if user.is_active
)
sorted(active_emails, reverse=True)

['tim@d.com', 'sady@f.com', 'fred@a.com']

## Dictionaries, Sets, and Tuples

In [81]:
class Student:
    def __init__(self, name, gpa, major):
        self.name = name
        self.gpa = gpa
        self.major = major

jim = Student(name='Jim Smith', gpa=3.6, major='Computer Science')
ryan = Student(name='Ryan Spencer', gpa=3.1, major='Economics')
penny = Student(name='Penny Gilmore', gpa=3.9, major='Computer Science')
alisha = Student(name='Alisha Jones', gpa=2.5, major='Economics')
todd = Student(name='Todd Reynolds', gpa=3.4, major='Basket Weaving')
students = [jim, ryan, penny, alisha, todd]

In [82]:
{student.name: student.gpa for student in students}

{'Jim Smith': 3.6,
 'Ryan Spencer': 3.1,
 'Penny Gilmore': 3.9,
 'Alisha Jones': 2.5,
 'Todd Reynolds': 3.4}

In [83]:
def invert_name(name):
    first, last = name.split(' ', 1)
    return last + ", " + first
{ 
    invert_name(student.name): student.gpa
    for student in students
    if student.gpa > 3.5
}

{'Smith, Jim': 3.6, 'Gilmore, Penny': 3.9}

In [84]:
[student.major for student in students]

['Computer Science',
 'Economics',
 'Computer Science',
 'Economics',
 'Basket Weaving']

In [85]:
{student.major for student in students}

{'Basket Weaving', 'Computer Science', 'Economics'}

In [86]:
set(student.major for student in students)

{'Basket Weaving', 'Computer Science', 'Economics'}

In [91]:
tuple(
    student.gpa for student in students
    if student.major == 'Computer Science'
)

(3.6, 3.9)

## Limits of Comprehensions

In [113]:
def list2dict(flat_list):
    assert len(flat_list) % 2 == 0, "Input must be flat list of key-value pairs"
    d = {}
    for i in range(0, len(flat_list), 2):
        key, value = flat_list[i], flat_list[i+1]
        d[key] = value
    return d

In [114]:
prices_flat_list = [
    'orange', 0.70,
    'banana', 0.86,
    'cantaloupe', 0.63,
    'bok choy', 1.56,
    'coconuts', 1.06,
]
list2dict(prices_flat_list)

{'orange': 0.7,
 'banana': 0.86,
 'cantaloupe': 0.63,
 'bok choy': 1.56,
 'coconuts': 1.06}

In [96]:
range(len(price_flat_list[::2]))

range(0, 5)

In [125]:
from collections import defaultdict

def group_by_first(string_list):
    d = {}
    for string in string_list:
        first_letter = string[0].upper()
        if d.get(first_letter):
            d[first_letter].append(string)
        else:
            d[first_letter] = [string]
    return d

In [126]:
names = ['Joe', 'Jim', 'Todd', 'Tiffany',
         'Zelma', 'Gerry', 'Gina', 'jimmy']
grouped_names = group_by_first(names)
grouped_names

{'J': ['Joe', 'Jim', 'jimmy'],
 'T': ['Todd', 'Tiffany'],
 'Z': ['Zelma'],
 'G': ['Gerry', 'Gina']}